<section>
  <div class="form-container">
    <h2 class="form_header">Login</h2>
    <%= form_with url: login_path, method: :post do |f| %>
      <%= render "shared/error_messages" %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :'session[email]' %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :'session[password]' %>
      </div>
      <%= f.submit "Login" %>
    <% end %>
  </div>
</section>
