<%= react_component 'App' %>
<!-- <div class="row">
  <div class="col-sm-12 col-md-12 table-container">

    <table class="stock_table">
      <tr class="stock_header">
        <th class="stock_title stock_entry">Company:</th>
        <th class="stock_title stock_entry">Symbol:</th>
        <th class="stock_title stock_entry">EBITDA:</th>
        <th class="stock_title stock_entry">Today's High:</th>
        <th class="stock_title stock_entry">Today's Low:</th>
        <th class="stock_title stock_entry">Asking Price:</th>
        <th class="stock_title stock_entry">Bidding Price:</th>
      </tr>

    <% @five_positions_data.each do |position| %>
      <tr>
        <th class="stock_entry"><%= position.name %></th>
        <th class="stock_entry"><%= position.symbol %></th>
        <th class="stock_entry"><%= position.ebitda %></th>
        <th class="stock_entry"><%= position.high %></th>
        <th class="stock_entry"><%= position.low %></th>
        <th class="stock_entry"><%= position.ask %></th>
        <th class="stock_entry"><%= position.bid %></th>
      </tr>
    <% end %>
    </table>
  </div>
</div> -->
