<% @five_positions_data.each do |position| %>
  <h3><%= position.name %></h3>
  <h4><%= position.symbol %></h4>
  <h4><%= position.name %>'s EBITDA: <%= position.ebitda %></h4>
  <ul>
    <li>Today's High: <%= position.high %></li>
    <li>Today's Low: <%= position.low %></li>
    <li>Asking Price: <%= position.ask %></li>
    <li>Bidding Price: <%= position.bid %></li>
  </ul>
<% end %>
