<!DOCTYPE html>
<html>
  <head>
    <title>StockOverflow</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row main-header">
        <div class="col-sm-6 col-md-6"
          <header>
            <h1 id="logo"><%= link_to('StockOverflow', root_path)%></h1>
          </header>
        </div>
        <div class="col-sm-6 col-md-6">
          <nav>
            <ul class="nav-bar">
              <% if logged_in? %>
                <li class="nav_item">Your Portfolio</li
                <li class="nav_item"> <%= link_to('Logout', logout_path)%> </li>
              <% else %>
                <li> <%= link_to('create account', new_user_path)%> </li>
                <li> <%= link_to('login', login_path)%> </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
