<!DOCTYPE html>
<html>
  <head>
    <title>StockOverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1 id="logo">StockOverflow</h1>
    </header>
    <nav>
      <ul id="main-nav">
        <% if logged_in? %>
          <li class="nav_item">Your Portfolio</li>
          <li class="nav_item">Logout</li>
        <% else %>
          <li class="nav_item">Create Account</li>
          <li> <%= link_to('login', login_path)%> </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
